<ion-view title="Account Type">
    <ion-content padding="'true'" class="has-header">
        <h1>User Type</h1>
        <div>
            <p>What
                <strong>type</strong>of user will you be? Are you looking for work? Or do you own or manage a restaurant?</p>
        </div>
        <div class="spacer" style="width: 300px; height: 48px;"></div>
        <a ng-click="setType('establishment')" menu-close="" href="#/ob-business-info" class="button button-balanced button-block  icon-right ion-chevron-right">Establishment</a>
        <a  ng-click="setType('staffer')" menu-close="" href="#/ob-staffer-info" class="button button-balanced button-block  icon-right ion-chevron-right">Staffer</a>
    </ion-content>
</ion-view>