<ion-view title="EULA">
    <ion-content padding="'true'" class="has-header">
        <div class="list card">
            <div class="item item-divider">User Licence Agreement</div>
            <div class="item item-body">
                <form class="list">
                    <div>
                        <p>contract contract contract contract contract contract contract contract contract contract contract contract contract contract contract contract contract contract contract contract contract contract contract contract contract contract contract contract contract</p>
                    </div>
                    <ion-checkbox name="agree">I have read and accept these terms</ion-checkbox>
                </form>
            </div>
        </div>
        <a menu-close="" href="#/nav/profile-staffer-page" class="button button-balanced button-block  icon-right ion-ios-arrow-right">Accept and Continue</a>

    </ion-content>
</ion-view>
