<ion-view title="Offer Detail">
    <ion-content padding="'true'" class="has-header">
        <h1>Offer</h1>
        <div class="list card">
            <div class="item item-divider">You have an offer!</div>
            <div class="item item-body">
                <h2>Restaurant</h2>
                <h2>Address</h2>
                <button class="button button-balanced button-block button-large">Accept</button>
                <button class="button button-assertive button-block button-large">Decline</button>
            </div>
        </div>
    </ion-content>
</ion-view>