<ion-view title="Request Accepted">
    <ion-content padding="'true'" style="background: url(img/CPeaP6N6R02smpgNduvp_success.jpg) no-repeat center;" class="has-header">
        <h1>Congrats!</h1>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <h3>Is on the way</h3>
        <div></div>
        <h4>ETA 15 minutes</h4>
        <h4>Rating: ****</h4>
    </ion-content>
</ion-view>