<ion-view title="stafferProfile">
    <ion-tabs class="tabs-balanced tabs-icon-top">
        <ion-tab title="Profile" icon="ion-ios-settings" href="#/nav/profile-staffer-page">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Avalability" icon="ion-calendar" href="#/profile-staffer/set-availability">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Skills/rates" icon="ion-android-restaurant" href="#/profile-staffer/staffer-skills">
            <ion-nav-view name="tab7"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>