<ion-view title="Staffer Detail">
    <ion-content padding="'true'" class="has-header">
        <div class="list card">
            <div class="item item-divider">Name (rating * * *)</div>
            <div class="item item-body">
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <div>
                    <p>rate $</p>
                </div>
                <div>
                    <p>exp</p>
                </div>
                <a menu-close="" href="#/offer-detail" class="button button-balanced button-block  icon-right ion-android-send">Request</a>
            </div>
        </div>
    </ion-content>
</ion-view>